<div id="signatories">
  <div class="section action">
    <h5 class="centered-text">Signatories</h5>
    <small>As of September 28, 2021</small>
  </div>
  <div class="org-signatories">
    <h6 class="centered-text">Organizations</h6>
    <div class="signatories-wrapper">
    {% assign sortedSignatoriesOrg = site.data.signatories-org | sort: "name" %}
    {% for signatory in sortedSignatoriesOrg %}
      <div class="signatory signatory-org">
        <div><img src="{{site.img_repo | relative_url}}/{{signatory.logo | default: "logo.png"}}" /></div>
        <div class="signatory-name">{{ signatory.name }}</div>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="indiv-signatories">
    <h6 class="centered-text">Individuals</h6>
    <div class="signatories-wrapper">
    {% assign sortedSignatoriesInd = site.data.signatories-ind | sort: "name" %}
    {% for signatory in sortedSignatoriesInd %}
      <div class="signatory">
        <div class="signatory-name">{{ signatory.name }}</div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
</div>
