---
layout: default
title: Philippine Digital Justice Declaration
permalink: /filipinos-digital-justice-declaration/
---
<div class="wrapper" id="main">
  <div class="post-body">
    <div>
      <h3 class="centered-text">The Filipino People's Digital Justice Declaration</h3>

      <div class="share-buttons-container">
        {% include snsshare.html %}
      </div>

      <p>In line with the call to own our future as echoed in the Digital Justice Manifesto, we, the Filipino people, hereby declare our solidarity and willingness to participate in pursuing and advocating for digital justice. In an era where digital infrastructure and Internet connectivity have become so embedded in everyday life, moreso brought to prominence and ubiquity due to the COVID-19 pandemic, almost every action and interaction generates data which are collected, stored, processed and transmitted—with or without our expressed informed consent—by the digital technologies and services we are compelled to use. Entities that collect and process our data produce and sell products, proprietary more often than not, in the form of artificial intelligence (AI) and algorithms.</p>

      <p>In recent years, we’ve seen how new technologies coupled with massive surveillance of the digital and material spaces could be used for state repression, social engineering and profiteering. In 2016, Cambridge Analytica used the Philippines’ Presidential Elections to experiment with their campaign strategies and AI, which they would later peddle to Western countries such as the UK and US to sway support in favor of Brexit and Trump, respectively. In Hong Kong, facial recognition and biometrics are being used to surveil activists. Tech giants use their copious data to employ targeted ads,manipulate behavior and collective sentiment for profit. It seems that no nation is exempt from these violative acts that impinge on digital and human rights.</p>

      <p>The Philippines, to this day, is rife with social issues—poverty, unemployment, corruption, to name a few. The digital divide is a manifestation of the increasing inequality. As public and private institutions migrate to digital systems, a good portion of the population is unable to benefit from these developments. The pandemic has exposed just how difficult it is to access the Internet—teachers and students climb mountains and rooftops in the hopes of getting a whiff of mobile data, parents struggle to make ends meet while attempting to secure devices for their children’s online schooling.</p>

      <p>Platform-based work has also increased in size and scope. While they offer alternative services and employment opportunities in the midst of the health and economic crises, they are not without fault. There have been complaints and protests from GrabFood and FoodPanda riders on issues spanning inequitable algorithms and undervalued compensation.</p>

      <p>Majority of the Philippine population remains preoccupied with gut issues or even basic survival, yet they continue to be targets of mass surveillance even as many of them struggle to participate in the digital world. Filipinos are forced to enter the digital landscape unarmed with sufficient knowledge and control over how much of their data is being collected and processed, and what these are being used for. With technology rapidly evolving, it is imperative that we take the initiative to protect every Filipino citizen’s data rights and its corollaries.</p>

      <p>Together with the global citizenry, we, the Filipino people, must actively assert our digital and human rights and be critical of policies related to information and communications technology development. We believe this to be crucial in providing the foundation for the assimilation of digital justice into mainstream national consciousness. In accord, we put forth the following principles as the bases of our participation in and commitment towards pursuing and advocating for digital justice:</p>

      <h5>Digital infrastructures, services and artifacts must be democratized and made more accessible to the public</h5>
      <ol class="spaced-list">
        <li class="spaced-list">The COVID-19 pandemic exacerbated the digital divide in the Philippines as work, school, and even leisure activities were forced to migrate to online platforms. The sudden shift to online learning without addressing our grossly insufficient Internet infrastructure especially in the countryside has rendered both educators and students struggling for connectivity doubly burdened. Even in the cities, professionals who are forced to work from home suffer from unreliable Internet connections. Every Filipino deserves equitable access to affordable, if not free, quality Internet services.</li>
        <li class="spaced-list">Philippine Internet is one of the slowest and most expensive in the world. This status persists because of the reigning internet oligopoly dominated by PLDT and Globe. The state must consider Internet connectivity as a public service and therefore regulate it. Otherwise, there will be no impetus for the duopoly to improve the quality and lower the price of their services.</li>
        <li class="spaced-list">Regulation of the Internet and its corollaries must serve the interests of the Filipino masses.</li>
        <li class="spaced-list">The Philippines must work towards having its own Internet infrastructure—which includes but is not limited to Internet cables, cellular towers, servers and data centers.</li>
        <li class="spaced-list">The Philippines must maximize and mobilize its Engineers, Scientists and Technologists to design and manufacture its own laptops, tablets, cellphones, and other devices which can be used to access the Internet. Relying on imports makes purchasing and repairing such products less accessible to the people. </li>
        <li class="spaced-list">Standards and regulations for digital and online services ought to be promulgated to ensure data privacy and security, as well as quality of service. The government should further develop its digital and online services.</li>
      </ol>
      <h5>Information must be free from monopolization and totalitarian control</h5>
      <ol class="spaced-list">
        <li class="spaced-list">Filipinos must be able to use and experience various digital public spaces without being actively taken-advantage of by any interest groups. Filipinos should have the capability to protect these democratic rights against digital censorship, surveillance, misinformation and disinformation, and repression.</li>
        <li class="spaced-list">A break from foreign dependence in hardware and software will ensure that developing technologies cater for the local demands and needs of Filipinos. Constant and sufficient government support for local research and education in ICT would not only ensure that digital spaces—both offline and online, tangible and not—are fit and made for the majority of local consumers, but will also encourage more Filipinos to participate in the digital sphere.</li>
        <li class="spaced-list">Data storage must be decentralized in order to mitigate the risks of any single institution monopolizing data, and exposing and compromising the people’s data. This must not, however, hinder the efficiency of data management and processing, and the services that require it.</li>
        <li class="spaced-list">More than half of Internet content is in English. Even local web content of government and private institutions are available only in English. For Internet content to be accessible to everyone, local content must also cater to local languages. Machine translations are unreliable, inaccurate, and often miss nuances and contexts. The government must mandate proper translations of local web content into local languages.</li>
        <li class="spaced-list">Platform-based work has created a new type of system where both the laborers and their customers generate substantial amounts of data, all of which are proprietary to the owners of these platforms. Laborers have little to no access to or control over these data, and are not being justly compensated for generating such. Their decisions and actions are also constricted by the designs and algorithms of these platforms. Platforms, while presenting alternatives to their traditional counterparts, must not disenfranchise its users—both laborers and customers. Government institutions must further study the particularities and relations within the system of platform-based work.</li>
        <li class="spaced-list">Facebook offers access via mobile data for free. This heavily influences the people who rely on mobile data to favor the use of Facebook. This consequently gives Facebook monopoly over data in countries where free Facebook over mobile data is implemented. To break this kind of monopoly, other parts of the Internet must also be made available for free. No single website, service, or application should be favored.</li>
      </ol>
      <h5>Data Rights are Human Rights</h5>
      <ol class="spaced-list">
        <li class="spaced-list">To appreciate data rights as human rights, Filipinos must understand that the data about us are extensions of our identities. Without such comprehension, people tend to willingly and carelessly give away their data.</li>
        <li class="spaced-list"><span class="intext-quote">“If you’ve got nothing to hide, you’ve got nothing to fear.”</span> This rhetoric is propagated by those who benefit from mass surveillance. It diminishes the social value of privacy. Every individual has the right to choose whom they share their information with. Exercising and protecting this right must not come at the cost of being denied service, or worse, harassed. Our laws and policies must protect this right, and must not legitimize mass surveillance.</li>
        <li class="spaced-list">Filipinos have the right to be properly informed of and have control over the collection, storage, processing, and transmission of their data. This right must be protected by the state.</li>
        <li class="spaced-list">The government must prepare and equip the people with the knowledge, tools, and safeguards against possible ill effects of digitalization, automation, AI, and other social and technical changes brought about by rapidly evolving technologies. The government itself must have sufficient understanding and conduct thorough research in order to proactively respond to potential risks Filipinos may be subjected to.</li>
      </ol>
    </div>
    <div id="participants">
      <div class="section action">
        <h5 class="centered-text">The following organizations and individuals helped craft the Filipino People's Digital Justice Declaration:</h5>
      </div>
      <div class="org-signatories">
        <h6 class="centered-text">Organizations</h6>
        <div class="signatories-wrapper">
        {% assign sortedParticipantsOrg = site.data.participants-org | sort: "name" %}
        {% for participant in sortedParticipantsOrg %}
          <div class="signatory signatory-org">
            <div><img src="{{site.img_repo | relative_url}}/{{participant.logo | default: "logo.png"}}" /></div>
            <div class="signatory-name">{{ participant.name }}</div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="indiv-signatories">
        <h6 class="centered-text">Individuals</h6>
        <div class="signatories-wrapper">
        {% assign sortedParticipantsInd = site.data.participants-ind | sort: "name" %}
        {% for participant in sortedParticipantsInd %}
          <div class="signatory">
            <div class="signatory-name">{{ participant.name }}</div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>

    {% include signatories.html %}

    <div class="section action" style="margin-bottom:2em;">
      <div style="padding:0em 2em;">
        Organizations and individuals who are interested to be included as signatories of the Filipino People's Digital Justice Declaration may email us at
        <br /><br />
        <a href="">phdigitaljustice (at) cp-union . com</a>
      </div>
    </div>
</div>